<?xml version="1.0"?>

<robot name="diffbot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find moons_hardware)/description/urdf/wheelcheck.urdf.xacro"/>

<xacro:include filename="$(find moons_hardware)/description/ros2_control/diffbot.ros2_control.xacro"/>

<xacro:taurus_ros2_control
    name="TaurusSystem"/>

</robot>