<?xml version="1.0"?>
<robot name="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- include your original components -->
  <xacro:include filename="$(find moons_hardware)/description/urdf/tauruswheel.urdf.xacro"/>
  <xacro:include filename="$(find moons_hardware)/description/urdf/_d435i.urdf.xacro"/>
    <xacro:include filename="$(find moons_hardware)/description/ros2_control/diffbot.ros2_control.xacro"/>


  <!-- ============ BASE LINKS ============ -->
  <link name="base_link"/>
  
  <link name="base_plate">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://moons_hardware/description/stl/chasi.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Red">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="base_joint" type="fixed">
    <origin xyz="0.0 0.0 0.16" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="base_plate"/>
  </joint>

  <!-- ============ WHEELS ============ -->
  <xacro:wheel wheel_prefix="left" parent_link="base_plate" invert="true">
    <origin xyz="0.0 0.33 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:wheel>

  <xacro:wheel wheel_prefix="right" parent_link="base_plate" invert="true">
    <origin xyz="0.0 -0.33 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:wheel>

  <!-- ============ LIDARS & IMU ============ -->
  <link name="sick_link1">
    <visual>
      <geometry>
        <mesh filename="package://moons_hardware/description/stl/sick_tim_5xx.stl" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="sick_lidar1" type="fixed">
    <origin xyz="0.582 0.4305 0.150" rpy="0 0 0.785398163"/>
    <parent link="base_plate"/>
    <child link="sick_link1"/>
  </joint>

  <link name="sick_link2">
    <visual>
      <geometry>
        <mesh filename="package://moons_hardware/description/stl/sick_tim_5xx.stl" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <joint name="sick_lidar2" type="fixed">
    <origin xyz="-0.582 -0.4305 0.150" rpy="0 0 -2.321287905"/>
    <parent link="base_plate"/>
    <child link="sick_link2"/>
  </joint>

  <link name="imu_link">
    <visual>
      <geometry>
        <mesh filename="package://moons_hardware/description/stl/MTi_6xx.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_to_imu" type="fixed">
    <origin xyz="0.500 0.0 0.250" rpy="1.57079632679 0 0"/>
    <parent link="base_plate"/>
    <child link="imu_link"/>
  </joint>



<xacro:taurus_ros2_control
    name="TaurusHardware"/>

</robot>
